.out-box{
    width:100%;
    height: 600px;
    background:rgb(0, 0, 0) ;

}
.box1{
    width: 40%;
    height: 30%;
    padding-top: 15px;
    background: grey;
    float: left;
    margin-top:10px;
    margin-right: 10px;
    margin-left:10px

}
.box2{
    width: 40%;
    height: 30%;
    padding-top: 15px;
    background: rgb(255, 20, 20);
    float: left;
    margin-top: 10px;
}
.box3{
    width: 40%;
    height: 30%;
    padding-top: 15px;
    background: rgb(0, 255, 251);
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.box4{
    width: 40%;
    height: 30%;
    padding-top: 15px;
    background: rgb(255, 0, 247);
    float: left;
    margin-top: 10px;

}