.header{
    width:100%;
    height: 100px;
    background: rgb(117, 51, 51);

}
.left-sec{
    width:20%;
    background: rgb(192, 150, 150);
    height: 500px;
    float:left;
}
.right-sec{
    width:80%;
    background: rgb(224, 122, 122);
    height: 500px;
    float: left;
}
.footer{
    width:100%;
    height: 140px;
    background: rgb(239, 196, 196);

}
.content{
    width:100%;
    height: 500px;
}
body{
    margin:0
}