button{
    color: chocolate;
    background: gray;
}

#para1{
    background-color: black;
    color: bisque;
}

#para2{
    background-color: rgb(0, 255, 72);
    color: rgba(0, 0, 0, 0.447);
}

.hi{
    color: crimson;
    background: darkblue;

}

#div{
    width: 300px;
    height: 200px;
    background: rgb(235, 13, 13);
    margin-top: 30px;
    margin-left: 45;
    padding-left: 25px;
    padding-top: 20px;
    padding-right: 25px;
    border: 5px solid;
    border-color: rgb(0, 0, 0);
}

#para3{
    color: azure;
}

#in-div{
    background: rgb(81, 0, 255);
    color: blue;
    width: 300px;
    height: 180px;
}