/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:25px;
}

/* Sections */
section{
    padding:40px;
    text-align:center;
}

/* About image */
#about img{
    width:150px;
    height:150px;
    border-radius:50%;
    margin-bottom:15px;
    border:4px solid #2563eb;
}

/* Skills list */
ul{
    list-style:none;
}

li{
    padding:6px;
}

/* Different section colors */
#about{ background:#f1f5f9; }
#education{ background:#e2e8f0; }
#skills{ background:#f1f5f9; }
#contact{ background:#e2e8f0; }

/* Footer */
footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:15px;
}
