.calc{
    width: 400px;
    height: 600px;
    background: gainsboro;
    border-color: black;
    border: solid 2px;
    margin-left: 33.5%;
}
#screen {
    margin-top: 8px;
    width: 378px;
    height: 72px;
    margin-left: 7px;
    border: 2px solid black;
    font-size: 70px;
    background: gray;
    pointer-events: none;
}
.btn {
    width: 86px;
    height: 64px;
    margin-top: 23px;
    margin-left: 9px;
    background: black;
    color:white;
    font-size: medium;
    font-weight: bolder;
}
.btn2 {
    width: 120px;
    height: 64px;
    margin-top: 23px;
    margin-left: 9px;
    background: rgb(24, 24, 24);
    color:white;
    font-size: medium;
    font-weight: bolder;
}